*{
	padding: 0;
	box-sizing: 0;
    margin: 0; 
	font-family: 'VALORANT', sans-serif;
	cursor: crosshair;
	/* cursor: url(1111.png), auto; */

}


.section {
    width: 1620px;
    margin: auto;
}

.mapa{
    background-image: url(img/fondo.png);
    display: block;
    border: 2px solid white;
	border-radius: 20px;
    margin: 20px;
   
}

.mapa:hover{
    box-shadow: 3px 4px rgba(241, 91, 108);
}



.mapa p {
    text-align: center;
    color: white;
	font-size: 25px;
	padding: 10px 0;
    text-shadow: 0.5px 1px rgba(241, 91, 108);
}

.mapa p:hover{
    text-shadow: 1.5px 2.5px rgba(241, 91, 108);
}

.mapaimg{
    display: block;
    margin: auto;
	width: 633px;
	height: 356px;
    border-radius: 20px;
}

.mapas {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}